@font-face {
    font-family: webly-ui;
    src: url(../fonts/weblysleekuil.ttf);
}

body {
	background-image: url('../images/veggies.jpg');
	background-repeat: no-repeat;
    background-size: cover;
    font-family: webly-ui;
}

.shopping-list {
	width: 30em;
	height: 40em;
	margin-right: auto;
	margin-left: auto;
	margin-top: 5em;
}

.list-header {
	color: white;
	font-size: 3em;
	text-align: left;
	border-bottom: 1px solid white;
	padding-bottom: .25em;
	margin: 0;
	text-shadow: 1px 1px 2px black;
}

.bigbox {
	min-height: 20em;
}

/* Define paragraphs as non-child, so they will display with full opacity in front of translucent divs */

div.list-item, div.struck-item, div.delete-me {
	color: white;
	font-size: 2em;
	text-align: left;
	margin: 0;
	display: inline-block;
}

div.list-item:hover, div.struck-item:hover, div.delete-me:hover {
	/* text-shadow: 0px 0px 1px; */
	cursor: pointer;
}

div.struck-item {
	text-decoration: line-through;
}

div.delete-me {
	float: right;
}

input.add-item-text {
	margin-left: 0.1em;
	margin-right: 0;
	margin-bottom: 0;
	color: white;
	background: none;
	width: 100%;
	font-size: 2em;
	text-align: left;
	border: 1px solid white;
	outline: none;
}


