@font-face {
    font-family: webly-ui;
    src: url(../fonts/weblysleekuil.ttf);
}

html {
	-webkit-font-smoothing: antialiased;
}

body {
	background-image: url('../images/foodbackground.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
    font-family: webly-ui;
}

.shopping-list {
	width: 30em;
	margin-right: auto;
	margin-left: auto;
	margin-top: 5em;
}

.list-header {
	color: white;
	font-size: 3em;
	text-align: left;
	border-bottom: 1px solid white;
	padding-bottom: .25em;
	margin: 0;
	text-shadow: 1px 1px 2px black;
}

.bigbox {
	min-height: 20em;
}

.list-item, .struck-item, .delete-me {
	color: white;
	font-size: 2em;
	text-align: left;
	margin: 0;
	display: inline-block;
}

.list-item:hover, .delete-me:hover {
	cursor: pointer;
}

.struck-item {
	text-decoration: line-through;
}

.delete-me {
	float: right;
}

input.add-item-text {
	padding-left: 0.2em;

	margin-right: 0;
	margin-bottom: 0;
	color: white;
	background: url('../images/milky.png');
	width: 100%;
	font-size: 2em;
	text-align: left;
	border-bottom: 1px solid white;
	border-top: none;
	border-right: none;
	border-left: none;
	outline: none;
}

::-webkit-input-placeholder {
   color: #ccc;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

:-ms-input-placeholder {  
   color: white;  
}

footer {
	width: 30em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15em;
	color: #ccc;
	font-size: 1em;
	text-align: center;
}

footer p {
	margin-top: -1em;
}

a:link, a:visited, a:active, a:hover { 
	text-decoration: underline;
	cursor: pointer;
	color: #ccc;
}

